@use 'sass:color';
@use '../../../styles.scss' as *;

// Layout do cabeçalho
.detalhe-header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 15px;
  margin-bottom: 15px;

  h1 {
    margin: 0;
  }
}

// Layout da área de botões
.actions {
  margin-top: 25px;
  border-top: 1px solid $border-color;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap; // Para quebrar a linha em telas menores
  gap: 10px; 
}

// Mensagem de nota cancelada
.cancelada-info {
  font-style: italic;
  color: #6c757d;
  padding: 10px 0;
}