@use 'sass:color';
@use '../../../styles.scss' as *;

.link-voltar {
  // styles.scss global
}

.itens-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $korp-red;
  margin-bottom: 20px;
}

.item-row {
  display: grid;
  grid-template-columns: 1fr 100px 50px; 
  gap: 15px;
  align-items: flex-end; 
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0; 
}

.btn-remover {
  padding: 10px;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1;
}

.btn-salvar {
  margin-top: 20px;
}